<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Floodplain Development Standard Operating Procedures | City of Vernonia</title>
    <meta name="description" content="City of Vernonia standard operating procedures for development in the the floodplain." />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
    <link href="./assets/main.css" rel="stylesheet" />
    <script src="./assets/anchor.js"></script>
  </head>
  <body>
    <header>
      <span>City of Vernonia</span>
      <a href="https://github.com/CityOfVernonia/floodplain-development-standard-operating-procedures">GitHub</a>
    </header>
    <main>{{ content }}</main>
    <footer>
      <span>The City of Vernonia is an Equal Opportunity Employer and Provider</span>
      <span>Copyright &copy; {{ "now" | date: "%Y" }} <a href="https://www.vernonia-or.gov/">City of Vernonia</a></span>
    </footer>
    <script>
      // section anchors
      const anchors = new AnchorJS();
      anchors.add('h2');
      // target external links
      document.querySelectorAll('main a').forEach((a) => {
        if (a.href.includes('https')) {
          a.target = '_blank';
          a.rel = 'noopener';
        }
      });
    </script>
  </body>
</html>
